<template name="sent">
    <style>
        body {
            background: url("bg2.jpg");
            width: 320px;
            background-size: cover;
            background-repeat: no-repeat;
            height: 720px;
            background-position-x: -21px;
        }
        .honked{
            color: #fff;
            margin-top: 65%;

        }
    </style>

    <div class="tac">
        <h1 class="honked">HONKED!</h1>
       <span class="feedback" style="color: #8B7A7A;
font-size: 15px;"> Your feedback has been sent.</span> <i class="ion-checkmark-round" style="color: rgb(34, 194, 60); font-size: 20px"></i>
    </div>
</template>