<template name="paymentfailed">
    <div class="header" style="height: 55px; background-color: rgb(211, 148, 148);;width: 100%; position: absolute; top: 0">
        <div class="logo ion-speakerphone" style="margin-top: 25px;
margin-left: 10px;
font-weight: bold;
color: #444;">  HONK</div>
    </div>   <div style="float: right">
    {{> loginButtons align="right"}}
    </div>

    <div style="margin-top: 150px;">
        <div class="title" style="text-align: center;">Payment failed</div>
        <div class="title" style="text-align: center;">Please check your venmo account.</div>
    </div>

    <div class="buttons" style="text-align: center;vertical-align: middle">
        <button  data-pack="default" class="mobile-btn" id="back"><i class="ion-arrow-left-c"></i> Got it</button>
    </div>
</template>
