<template name="rate">
    <div class="header" style="height: 55px; background-color: rgb(211, 148, 148);;width: 100%; position: absolute; top: 0">
        <div class="logo ion-speakerphone" style="margin-top: 25px;
margin-left: 10px;
font-weight: bold;
color: #444;">  HONK</div>
    </div>
    <div class="tac" style="margin: 85px 0 40px 0">
        <span class="rate-plate" style="padding: 5px 8PX;font-size: 40px; color: #555555; border: 3px solid #555; border-radius: 3px;">{{plate}}</span>
    </div>

    <span  style="margin: 20px 10px 20px 10px;
font-size: 20px;
color: grey; font-weight: bold; display: inline-block;">Choose type</span>
    <div class="ratings">
        <button id="complain" data-icon="ion-sad" data-pack="default mobile-btn" class="mobile-btn"> <div data-icon="ion-sad" class="ion-sad"></div>Complain</button>
        <button id="notify" data-icon="ion-alert" data-pack="default mobile-btn" class="mobile-btn"> <div data-icon="ion-alert" class="ion-alert"></div>Notify</button>
        <button id="compliment" data-icon="ion-happy" data-pack="default mobile-btn" class="mobile-btn"> <div class="ion-happy" data-icon="ion-happy"></div>Compliment</button>

    </div>
    <style>
        .ratings button {
            font-size: 13px;
        }
        .ratings button div {
            font-size: 30px;
        }
    </style>
</template>